$light-blue: #c3e8fa;
$dark-blue: #045796;
$teal: #4fc2be;
$gold: #fdb913;
$orange: #f26723;
$red: #e51e39;

/*
Chrome responsive definitions:
- mobile S: 320
- mobile L: 425
- tablet: 768
- laptop: 1024
- laptop L: 1440
- 4K: 2560
*/

$small-max: 599px;
$medium-min: 600px;
$medium-max: 899px;
$large-min: 900px;
$large-max: 1599px;
$xlarge-min: 1600px;


body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header, section {
  margin: 0 auto;
  max-width: 60rem;

  p, h1, h2, h3, h4, h5, h6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  ol, ul {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}

.conference-home > header {
  display: flex;
  flex-direction: row;
  background-image: url('img/icat-vertical-header-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 8.9rem;
  background-color: $red;
  color: white;

  > h1, .conference-theme, .conference-dates {
    padding: 0 1rem;
  }

  .conference-theme {
    font-weight: bold;
  }

  .globe {
    height: 8rem;
  }

  .globe-wrapper {
    background-color: $light-blue;
  }

  @media only screen and (max-width: $small-max) {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    .globe-wrapper {
      margin: 0 0 8rem 0;
      padding: 1rem 0 0 0;
      background-color: $light-blue;
      text-align: center;
    }
  }

  @media only screen and (min-width: $medium-min) {
    position: relative;
    min-height: 16rem;
    max-width: 60rem;
    box-sizing: border-box;

    background-image: url('img/icat-horizontal-header-bg.jpg');
    background-position:  11.5rem center;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0;

    .text-wrapper {
      padding: 2rem 1rem 1rem 8rem;
    }
    .globe-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 1rem 0 1rem 4rem;
    }
  }
}

@import "keynotes";
